html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px !important;
}
.sr-only {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-red {
  background-color: red;
}

.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 10px;
  top: 70px;
  height: 170px;
  font-size: 5rem !important;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 10px;
  top: 70px;
  height: 170px;
  font-size: 5rem !important;
}

.column-news {
  /* height: 350px; */
  overflow: hidden;
  font-size: 16px;
}
.column-news h2 {
  font-size: 18px;
  font-weight: bold;
}
.column-news .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column-news .price {
  font-size: 18px;
}
.column-news-text:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.column-news-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  transition: all 0.5s;
}
.column-news-text .title a:hover {
  color: #ffc857;
}

.column-news2 {
  overflow: hidden;
  font-size: 16px;
}
.column-news2 h2 {
  font-size: 18px;
  font-weight: bold;
}
.column-news2 .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 15px;
}
.column-news2 .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 15px;
  text-indent: 40px;
}
.column-news2 .title a:hover {
  color: #ffc857;
}

.column-project {
  font-size: 16px;
}

.column-project .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}

.column-project .title a:hover {
  color: #ffc857;
}

.column-project .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-asset {
  font-size: 16px;
}

.column-asset .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
}
.column-asset .title a:hover {
  color: #ffc857;
}

.column-asset .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-asset {
  font-size: 16px;
}

.row-asset .title {
  font-size: 18px;
  font-weight: bold;
}
.row-asset .title a:hover {
  color: #ffc857;
}

.row-asset .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sugguestion h4 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}
