@font-face {
	font-family: "myfont";
 	src: url("../font/PSL029pro.ttf");
}
body {
  font-family: "myfont",sans-serif !important;
}
.bg-white-2{
  background-color: #fff;
}
.fixed-top {
  top: 0;
  background-color: #fff;
  border-width: 0 0 1px;
  z-index: 1030;
  border-bottom: solid 1px #eee;
}

.form-control.form-header{
  border-radius: 0rem;
  font-size: 24px;
}
.custom-container{
  max-width: 1560px;
  margin: auto;
}
.custom-container.form-header{
  display: flex;
}

.icon-fa-sm{
  font-size: 15px;
}
.red {
    margin-top: 4.8rem;
    background-color: red;
    
  }
.red-2 {
    background-color: rgb(206, 0, 0);
  }
.search-red {
  background-color: red;
  
}
p, span, h1  {
  font-family: "myfont",sans-serif;
}
.Navbar-text h5{
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 26px;
}
.navbar{
  padding: .5rem 0rem !important;
}
.Navbar-text :hover{
  color: red;
  transition: 0.5s;

}
.border-menu h5{
  border-bottom:solid 5px #fff;
  border-top:solid 5px #fff;
}

.border-menu :hover{
  border-bottom:solid 5px red;
  transition: 0.2s;
}
.width-header {
  width: 1560px;
  margin: auto;
  padding: auto;
}
.font-26 {
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 26px;
}
.font-search-more{
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;

}
.font-label{
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.5px;

}
.dropdown-toggle::after {
 vertical-align: .1em !important;
}
.post {
  font-size: 28px;
  color: #fff;
  background-color: rgb(235, 15, 22);
  border-radius:4px;
  padding: 5px 15px ;
  border:none;
  margin-left: 60px;
  
}
.post:hover{
  background-color: rgb(253, 93, 93);
  transition: 0.2s;
}
.favorate{
  height: 50px;
}
.count-style h1{
    background-color: #fe0000;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 23px;
    position: absolute;
    line-height: 23px;
    text-align: center;
    top: 13px;
    width: 23px;
    color: #fff;
}
.search-red-2{
  padding-top:2.85rem;
  font-size: 28px;
  color: white;
  letter-spacing: 0.5px;
}
.btn.focus, .btn:focus{
  display: none !important;
}
.btn-link {
  background-color: rgba(126, 11, 11, 0.89)!important;
  padding: 0rem 1rem !important;
 
 }
 .accordion{
   text-align: right;
 }
.btn-link:hover {
 text-decoration: none !important;
}
.btn-search-subimit{
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #fe0000;
  font-size: 26px;
  width: 100%;
  letter-spacing: 0.5px;
  margin-top: 42px;
  padding: 0.4rem 0.5rem;
}

.btn-search-subimit:hover{
  background-color: rgb(138, 0, 0);
  color: #fff;
  transition: 0.2s;
  
}
.form-serach-more{
 display: flex;
 
}
.form-serach-more .pdr{
  padding-right:30px;
}
.carousel-caption-2 {
  right: auto !important;
  top: 30px;
  left: 15% !important;
  text-align: left !important;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.custom-container .banner-flex {
  display: flex;
}
.fixed-rigth-bottom {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 110px;
    z-index: 1031;
}
.boder-red-bottom{
  border-bottom:solid 5px #FE4B6D;
  width: 100px;
  margin-bottom: 1rem;
  ;
}
.select-home{
  background-color: red;
}

.nav-pills .nav-link {
  border-radius:4px !important;
  }

.nav-pills .show>.nav-link {
    background-color:rgb(179, 179, 179) !important;
  }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:red !important;
  color: #fff !important;
}

.nav-pills a{
  color: #808080;
  background-color:#F8F8F8;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.nav-pills :hover a{
  color: unset !important;
}
.item-home {
  display: block;
}
.item-home-2{
  margin-bottom: 15px;
  margin-top: 15px;
 
}
.item-home-2 a{
  color: #333333 ;
}
.item-home-2 h2{
  font-weight: bold;
  letter-spacing: 0.5px;
}
.item-home-2 a:hover{
  color: #da0000 ;
  text-decoration:none ;
}
.icon-home-2 .list-icon{
  position: absolute;
  list-style: none;
  display: flex;
  top: 0px;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 0px;
}
.icon-home-2 .icon-1{
  padding: 0px 15px;
  border-radius: 6px;
  bottom: 0px;
  font-size: 1.5rem;
  height: 35px;
  margin-right: 15px;
}
.icon-heart{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0;
}
.icon-heart :hover{
 opacity: 0.8;
 transition: 0.2s;
}
.icon-home-2:hover .icon-heart{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.pink{
  background-color: #FE4B6D;
  color: white;
}
.green{
  background-color: #AFFF66;
  color: black;
}
.orange{
  background-color: #FF8159;
  color: white;
}
.violet{
  background-color: #EC40FF;
  color: white;
}
.bluesky{
  background-color: #33FFCB;
  color: rgb(29, 29, 29);
}
.list-icon-bottom{
  display: inline;
  padding:0px !important;
}
.list-icon-bottom li{
  list-style: none;
  display: inline;
  
}
.list-icon-bottom h5{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
 
}

/* Mobile */
@media (max-width: 960px) {
  .mb-display-l{
    padding-left: 5px !important;
  }
  .mb-display-r{
    padding-right: 5px !important;
  }
  .list-icon-bottom .text-item {
    display: none;
  }

  .icon-heart{
 
    opacity: 1;
}
  .icon-home-2 .icon-1{
   display: none;
  }
  .card-body{
    padding: 0.7rem !important;
  }
  .item-home-2 h2{
    font-size: 1.5rem ;
  }
  .item-home-2 h4{
    font-size: 1.2rem ;
  }
  .nav-pills a{
    font-size: 20px;
  }
  .showhome-mb h1{
    font-size: 2rem;
  }

  .fixed-rigth-bottom {
  width: 50px;
  }
  .custom-container.form-header{
    display: block;
  }
  .form-serach-more .pdr{
    padding-right:0px;
  }
  .red {
    margin-top: 3.8rem;
    
  }
 .showlogo {
   display: none !important;
 }
 .count-style h1{
 position: relative;
 top: -12px;
}
 .Navbar-text h5{
  color: black;
  letter-spacing: 0.5px;
  padding-left: 0px;
  padding-right: 10px;  
  font-size: 22px;
  line-height: 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
.font-26 {
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 22px;
}
.navbar-collapse{
  margin-top: 30px;
}
.post{
  margin-left: 0px;
  margin-right: 0px;
}
.navbar{
  padding: .5rem 1rem !important;
}
.btn-search-subimit{
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-serach-more {
  display:block;
 }
 
}
/* end Mobile */