@font-face {
	font-family: "myfont";
 	src: url("../font/PSL029pro.ttf");
}
body {
  font-family: "myfont",sans-serif !important;
}
.red {
    background-color: red;
  }
.search-red {
  background-color: red;
  
}
p, span, h1  {
  font-family: "myfont",sans-serif;
}
.Navbar-text h5{
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 26px;
}
.Navbar-text :hover{
  color: red;
  transition: 1s;
}
.width-header {
  width: 1560px;
  margin: auto;
  padding: auto;
}
.font-26 {
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 26px;
}
.dropdown-toggle::after {
 vertical-align: .1em !important;
}
.post {
  font-size: 28px;
  color: #fff;
  background-color: #ED1C24;
  border-radius:4px;
  padding: 5px 15px ;
  border:none;
  margin-left: 15px;
  margin-right: 15px;
}
.post :hover{
  color: #0e0202;
}

.favorate{
  
  height: 50px;
}
.count-style h1{
    background-color: #fe0000;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    height: 23px;
    position: absolute;
    line-height: 23px;
    text-align: center;
    top: 13px;
    width: 23px;
    color: #fff;
}

/* Mobile */
@media (max-width: 960px) {
 .showlogo {
   display: none !important;
 }
 .count-style h1{
 position: relative;
 top: -12px;
}
 .Navbar-text h5{
  color: black;
  letter-spacing: 0.5px;
  padding-left: 0px;
  padding-right: 10px;  
  font-size: 22px;
  line-height: 0px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
.font-26 {
  color: black;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 22px;
}
.navbar-collapse{
  margin-top: 30px;
}

}
/* end Mobile */